.back-button {
    display: inline-block;
    fill:#005689 !important;
    stroke:1px;
    stroke-color:#005689;
    width: 80px;
    
    height: 24px;
    padding: 0 12px;
    margin-right: 12px;
	shape-rendering:auto;

    

    
}