.gv-interactive-container {

$highlight-color: map-get($pasteup-palette, 'news-main-1');

.gv-detail-view{
  position:absolute;
  width:100%;
  background:#FFF;

 
}

.gv-holder-div {
    position: relative;
    width: 100%;
}

h4{
  font-weight:500 !important;
}


.timeline__label {
      position: absolute;
      padding: 5px;
      border-left: 1px dotted #dcdcdc;
      top: 10px;
      bottom: 5px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;    
}
   
.timeline__one {
      position: absolute;
      padding-top: 5px;
      top: 10px;
      bottom: 5px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;    
}
      
    
.gv-table-holder-div{
    padding-top: 48px;
    margin-bottom: 48px;
    position: relative;
    width: 100%;
}


.gv-definition-text{
    color: #767676;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 14px;
    font-weight: 400;
}

 .bars-data-table{
   width:100%;
    max-width: 900px;
    font-size: 18px;
    line-height: 20px;
    font-family: "Guardian Egyptian Web",Georgia,serif;
    font-weight: 500; 
    border-spacing: 0px;
    th { color: $neutral-1; }
    th:nth-child(even) {text-align:center; width:120px; padding: 3px 0 15px;}
       th:nth-child(odd) {text-align:left; width:auto; padding: 3px 0 15px;}
    tr:nth-child(even) { padding: 3px 0; background-color:$neutral-8; };
       tr:nth-child(odd) { padding: 3px 0 15px; }
    td:nth-child(even) {text-align:center; width:120px; color: $neutral-1; }
       td:nth-child(odd) {text-align:left; width:auto; color: $neutral-1; } 
}

tr.spaceAbove > td
{
  padding-top: 1em;
}

tr.spaceBelow > td
{ 
  padding-top: 0.1em;
  padding-bottom: 0.9em;
}
.bar-chart-holder-outer{
    width:100%;
    padding:0 10px 0 0;
    margin-bottom:36px;
    // background: rgba($multimedia-support-2, 0.1);
    max-width: 720px;
}

.bar-chart-holder{
      position: relative; 
      width:100%;
      height:80px;
      overflow:hidden;   
      border-bottom:1px solid $neutral-1;
}
  
 .bars-data-bar{
        box-sizing: border-box;
        display:block;
        height:12px;
        position:relative;      
      background-color: $highlight-color;
 }
 
 .plague-bar{
   background-color: $highlight-color;
 }

.buy-list-item, .sell-list-item{
    color:#767676 !important;
}

 .highlight-cell{
    color:#767676 !important;
 }

}