.gv-interactive-container {

.gv-halo-column {
    position: relative;
    display: inline-block;
    margin: 36px 0 0;
    width: 100%;
    max-width: 300px;
    height: auto;
    -webkit-font-smoothing: antialiased;


    @include mq(tablet) {
            margin: 0 10px;
         }

    p {
        font-family: "Guardian Egyptian Web",Georgia,serif;
        font-size: 18px;
        font-weight: 400;
        color: #333;
        margin:0;

   }
}

  

.gv-halo-head {
    font-family: "Guardian Egyptian Web",Georgia,serif;
    font-size: 20px;
    font-weight: 500;
    color: #767676;
    margin-bottom: 3px !important;
    
}

.gv-halo-cap-head {
    font-family: "Guardian Text Sans Web",Georgia,serif;
    font-size: 14px;
    font-weight: 300;
    color: #4cc5dc;
    z-index: 1005;
    -webkit-font-smoothing: antialiased;
    /* color: #002b58; */
}

.gv-halo-image-holder{
    width:100%;
    background-size:cover !important;
    background-repeat:no-repeat !important;
    // border-radius:999px;
    padding-bottom:100%;
}

.gv-headline-text{
    position:relative;
    width:100%;
    margin:0;
    padding:0;
    display:block;
    font-family: "Guardian Egyptian Web",Georgia,serif;
    font-size: 24px;
    font-weight: 500;
    color: #767676;

    -webkit-font-smoothing: antialiased;
}

.gv-headline-figure{
    position:relative;
    width:100%;
    margin:0 0 6px 0;
    display:block;
    font-family: "Guardian Egyptian Web",Georgia,serif;
    font-size: 24px;
    font-weight: 400;
    color: #767676;
    -webkit-font-smoothing: antialiased;

    @include mq(tablet){
        margin-top:18px;
        font-size: 60px;
        font-weight: 200;
    }
}

.gv-headline-cap {
    position:relative;
    width:100%;
    display:block;  
    font-family: "Guardian Text Sans Web",Georgia,serif;
    font-size: 14px;
    font-weight: 400;
    color: #767676;
    -webkit-font-smoothing: antialiased;

}

}