#treemapFlex{
    text {
      pointer-events: none;
      font-family: "Guardian Text Sans Web", Arial, Helvetica, sans-serif;
        font-size: 15px;
        line-height:18px;
    }



    .grandParentLabel{
        font: 28px "Guardian Egyptian Web";
        line-height: 14px;
        fill:#222222;
        stroke:none;
        font-weight:500;
    }

    rect {
      fill: #005689;
      stroke: #fff;
    }

    rect.parent,
    .grandparent rect {
      stroke-width: 2px;
    }

    .grandparent rect {
      fill: white;
      border-bottom: 1px solid #767676;
    }

    .grandparent:hover rect {
      // fill: #ee9700;
    }

    .children rect.parent,
    .grandparent rect {
      cursor: pointer;
    }

    .children rect.parent {
      fill: #194377;
      fill-opacity: .5;
    }

    .children:hover rect.child {
      fill: #bbb;
    }



    .cellLabel {
            font: 15px "Guardian Text Sans Web", Arial, Helvetica, sans-serif;
            line-height: 14px;
            fill:#FFF;
            stroke:none;
            
        }
       .blue{
        fill:#005689;
       } 
    .grey{
        fill:#CCC;
       }
    .cellLabelFee{
        font: 28px "Guardian Egyptian Web";
        line-height: 14px;
        fill:#FFF;
        stroke:none;
    }



}


.column {
    position:relative;
    top: 0px;
    display: inline-block;
    float: left;
    position: relative;

}

.tree-map-detail p{
        margin:0;
        padding:0;
        font-family: "Guardian Text Sans Web", Arial, Helvetica, sans-serif;
        font-size: 15px;
        line-height:18px;

         @include mq(tablet) {
            font-family: "Guardian Egyptian Web", Georgia, serif;
            font-size: 18px;
            line-height:24px;
         }
    
}
.tree-map-detail h2{
        margin:0;
        padding:0;
        font-family: "Guardian Egyptian Web", Georgia, serif;
        font-weight:500;
        font-size: 24px;
        line-height:28px;
}

.tree-map-detail h3{
        margin:0;
        padding:0;
        font-family: "Guardian Egyptian Web", Georgia, serif;
        font-weight:400;
        font-size: 20px;
        line-height:24px;
}

.tree-map-detail footer{
        width:100%;
        border-top: 1px solid #CCC;
        margin-top: 12px;
}

#detail-view {
            position: relative;
            width: 100%;
            min-width: 280px;
            max-width:899px;
            background-color: #fff;
            padding: 60px 0 0 0;
            display: none;
            border-top: 2px solid #4bc6df;
            overflow: hidden;
        }

        #back-button {
            position: absolute;
            top: 5px;
            left: 0px;
            width: 72px;
            height: 32px;
            background: #000;
            cursor: pointer;
            font-family: "Guardian Agate Sans", Arial, sans-serif;
            font-size: 14px;
            background:url('..assets/imgs/btn_close.png') no-repeat;
            background-position: -3px 0px;
            padding: 9px 0 0 33px;
            color: #a7a9ac;
        }

        #back-button:hover {
                background-position: -3px -32px;
            }

/* ********************************************* */

        #center-panel{
            width:300px;
            
            border-left: none;
        }

        #left-panel {
            width:200px;
            height:auto;
            padding: 12px 0 0 6px;
            margin-right:20px;
        }

        .detail_header{
            font-family: "Guardian Egyptian Web", Georgia, serif;
            font-weight:700;
            font-size: 2.2em;
            width:100%;
            padding: 3px 0 0 6px;
        }


        .gv-node {
          border: solid 1px white;
          font: 10px sans-serif;
          line-height: 12px;
          overflow: hidden;
          position: absolute;
          text-indent: 2px;
        }

        .cell{
            border: solid 1px white;
            color: #fff;
            overflow: hidden;
            position: absolute;
            cursor: pointer;
            stroke:#FFF;
            stroke-width:1;
            stroke-opacity:0.9
        }

        .cell:hover {
            opacity:0.7;
            filter:alpha(opacity=70); /* For IE8 and earlier */
        }

        .cellValue {

            font: 2.4em "Guardian Egyptian Web";
            line-height: 30px;

        }
        .cell-info {
            margin: 6px 0 0 6px;
        }

        .cellLabel {
            font: 15px "Guardian Text Sans Web", Arial, Helvetica, sans-serif;
            line-height: 14px;
            fill:#FFF;
            stroke:none;
            
        }

        .cellLabelFee{
            font: 2.4em "Guardian Egyptian Web";
            line-height: 14px;
            fill:#FFF;
            stroke:none;
        }


.chart {
  display: block;
  margin: auto;
  margin-top: 40px;
}

text {
  font-size: 11px;
}

rect {
  fill: none;
}
    
.buy{

    }

    .sell{
        fill-opacity:0.25;
    }            
